
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">

</head>
<body>
    <nav class="navbar">
        <div class="left">
            <h2>Termsheet Validator</h2>
        </div>
        <div class="right">
            <span class="username">{{username}}</span>
        </div>
    </nav>
    <div class="container">
        <div class="row">
                <h1>File Upload</h1>
        </div>
        <div>
            <p>Hey User ! You can upload your termsheets in pdf,excel,word docunment and eml format</p>
        </div>
        <form action="/submitform" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="email" value="{{Email}}">
        
                <div class="col-6">
                    <div class="mb-3">
                        <label for="file_input" class="formlabel" >Select File</label>
                        <input type="file" name="userfile" id="file_input" class="form-control" hidden>
                    </div>
                    <div>
                        <input type="submit" class="btn">
                    </div>
                </div>
            {{#if successMessage}}
  <p style="color:green;">{{successMessage}}</p>
{{/if}}
        </form>
    </div>

</body>
</html>
