<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>File Upload</h1>
            </div>
        </div>
        <form action="/submitform" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="file_input" class="formlabel" >Select File</label>
                        <input type="file" name="userfile" id="file_input" class="form-control">
                    </div>
                    <div>
                        <input type="submit" class="btn">
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>